body{
    background-color: #414141;
}

#main{
    margin-top: 5em;
}

/*.container {*/
    /*margin-top: 5em;*/
/*}*/

.cal1 {
    background-color: #ffffff;
}

.events_list {
    background-color: #ffffff;
}

/* Selectable */

.ui-selectable-helper {
    position: absolute;
    z-index: 100;
    border:1px dotted black;
}

.selectable .ui-selecting { background: #eee; }
.selectable .ui-selected { background: #393637; color: white; }

.datetimepicker-dropdown-bottom-right{
    top: 382px !important;
}

h4{
    background-color: #ffffff;
    width: 100%;
    padding:0.4em;
}

#events_list{
    padding: 1em 1em 1em;
}

.panel {
    margin-bottom: 0.7em;
}

.panel-heading {
    padding: 0.3em 0.5em;
    /*font-weight: 100;*/
    text-align: center;
}

#feedback {
    margin: 0 -1em;
    border-radius: 0.4em;
}

.edt{
    padding: 0.1em;
}

.del{
    padding: 0.1em;
}

.panel-body {
    padding: 0.2em 1.5em;
}

.events_list{
    border-radius: 0.8em;
}

.clndr-controls{
    margin: 0;
}

.month {
    font-size: x-large;
}

.clndr-previous-button{
    font-size: 2em;
    padding: 1em 2em 1em 0;
}

.clndr-next-button{
    font-size: 2em;
    padding: 1em 0 1em 2em;
}

.month {
    padding-top:1.1em;
}


.weekCalContainer {
  position: absolute;
  width: 100%;
  height: 550px;
  background-color: #fff; }
  .weekCalContainer .weekCalHeader {
    position: relative;
    width: 100%;
    margin: 15px 0 15px 0;
    display: inline-block; }
    .weekCalContainer .weekCalHeader .controlBtn {
      cursor: pointer;
      float: left;
      width: 33%;
      text-align: left;
      color: #aaa; }
      .weekCalContainer .weekCalHeader .controlBtn:hover {
        color: #000; }
    .weekCalContainer .weekCalHeader .periodText {
      float: left;
      width: 34%;
      text-align: center;
      font-size: 1em;
      font-weight: bold; }
  .weekCalContainer .weekCalBody {
    position: relative;
    width: 100%;
    height: 495px;
    top: -5px;
    display: inline-block; }
    .weekCalContainer .weekCalBody .weekHeaderHolder {
      position: relative;
      width: 5%;
      height: 100%;
      float: left;
      background: #0D70A6;
      color: #fff; }
    .weekCalContainer .weekCalBody .weekBodyHolder {
        position: relative;
        height: 100%;
        /*float: left; */
    }
    .weekCalContainer .weekCalBody li {
      border-style: solid;
      border-color: #000;
      border-width: 1px;
      list-style-type: none;
      /*height: 13.9%;*/
      text-align: center;
      padding-top: 24px;
      padding-right: 0;
      padding-bottom: 25px;
      padding-left: 0;
      border-right: none; }
    .weekCalContainer .weekCalBody .eventText {
      position: absolute;
      width: 720px;
      height: 66px;
      /*top: 0;*/
      /*bottom: 0;*/
      left: 30px;
      right: 0;
      padding-top: 3px;
      padding-left: 9px;
      margin-top: -4px;
      border-style: solid;
      border-color: #000;
      border-width: 1px;
      border-left: none; }