<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel='stylesheet' href='{% static 'css/clndr.css' %}' />
    <link rel='stylesheet' href='{% static 'css/bootstrap.css' %}' />
    <link rel='stylesheet' href='{% static 'css/ttcalendar.css' %}' />
    <link rel='stylesheet' href='{% static 'css/bootstrap-datetimepicker.min.css' %}' />
    <link rel='stylesheet' href='{% static 'css/label.css' %}' />
    <script src='{% static 'js/lib/jquery.min.js' %}'></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src='{% static 'js/lib/moment.min.js' %}'></script>
    <script src='{% static 'js/clndr.js' %}'></script>
    <script src='{% static 'js/ttcalendar.js' %}'></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script src='{% static 'js/bootstrap.min.js' %}'></script>
    <script src='{% static 'js/bootstrap-datetimepicker.min.js' %}'></script>
    <script src='{% static 'js/jquery.cookie.js' %}'></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/calendar">CalendarUI</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li id="monthly" class="active"><a>Monthly</a></li>
            <li id="weekly"><a>Weekly</a></li>
            <li id="daily"><a>Daily</a></li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
            {% if not user.pk %}
            {% else %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>  {{ user.username }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li data-role="{{ user.cuser.role }}" data-allow="" id="role"><a>User role: {{ user.cuser.role }}</a></li>
                  <li data-pk="{{ user.pk }}" id="pk"><a>User ID: {{ user.pk }}</a></li>
                  <li class="divider"></li>
                  <li><a href="/calendar/logout">Log out</a></li>
                </ul>
              </li>
            </ul>
            {% endif %}
        </div>
      </div>
    </div>
<div class="modal fade" id="create_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p class="bg-danger" style=" margin: -1em -1em 1em; display: none" id="msg">Error.</p>
        <form role="form">
          <div class="form-group">
            <label for="event_title">Event Title</label>
            <input type="text" class="form-control" id="event_title" placeholder="Event Title">
          </div>
          <div class="form-group ">
            <label for="event_description">Description</label>
            <textarea class="form-control" rows="3" id="event_description"></textarea>
          </div>
          <div class="row">
            <div class="col-lg-6">
                <div class="form-group time_form">
                    <label for="dtp_input1" class="control-label">Start Time</label>
                    <div class="input-group date form_datetime" data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input1">
                        <input class="form-control" size="16" type="text" value="" readonly id="stime">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                    <input type="hidden" id="dtp_input1" value="" /><br/>
                </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group time_form">
                    <label for="dtp_input2" class="control-label">End Time</label>
                    <div class="input-group date form_datetime" data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input2">
                        <input class="form-control" size="16" type="text" value="" readonly id="etime">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                    <input type="hidden" id="dtp_input2" value=""/><br/>
                </div>
              </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" id="createEvent">Create</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="edit_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p class="bg-danger" style=" margin: -1em -1em 1em; display: none" id="msg">Error.</p>
        <form role="form">
          <div class="form-group">
            <label for="event_title">Event Title</label>
            <input type="text" class="form-control" id="event_title" placeholder="Event Title">
          </div>
          <div class="form-group ">
            <label for="event_description">Description</label>
            <textarea class="form-control" rows="3" id="event_description"></textarea>
          </div>
          <div class="row">
            <div class="col-lg-6">
                <div class="form-group time_form">
                    <label for="dtp_input1" class="control-label">Start Time</label>
                    <div class="input-group date form_datetime" data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input1">
                        <input class="form-control" size="16" type="text" value="" readonly id="stime">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                    <input type="hidden" id="dtp_input1" value="" /><br/>
                </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group time_form">
                    <label for="dtp_input2" class="control-label">End Time</label>
                    <div class="input-group date form_datetime" data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input2">
                        <input class="form-control" size="16" type="text" value="" readonly id="etime">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                    <input type="hidden" id="dtp_input2" value=""/><br/>
                </div>
              </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" id="editEvent">Edit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="container" id="main">
    <div class="row">
        <div class="col-md-7" style="position: fixed">
            <div class="cal1">
                <div class="clndr-monthly"></div>
                <div id="weekCal" class="weekCalContainer"></div>
                <div class="clndr-daily"></div>
            </div>
        </div>
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <div class="events_list">
                <p id="feedback">
                    <span>Event List</span>
                </p>
                <div id="events_list">
                    Empty...
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="del_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-body">
        Confirm to Delete!
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a type="button" class="btn btn-danger" id="del_button" href="">Yes!</a>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="det_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <h2>title</h2>
            <h3 id="2">time</h3>
            <h3 id="3">time</h3>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>


</body>
<script>
    $(document).ready(function () {
          $('#role').attr('data-allow', '{{ user.cuser.role.allow }}');
          cal1 = $('.clndr-monthly').clndr({
{#          template: $('#calendar-template').html(),#}
          events: [],
          clickEvents: {
            dblclick: createNewEvent,
            onMonthChange: getEventsFromMonth
          },
          doneRendering: function() {
              if(!_.contains($('#role').attr('data-allow').split(','), this.month.format("MMMM"))){
                  console.log(this.month.format("MMMM"));
                  this.options.clickEvents.dblclick = null;
                  $('.day:not(.adjacent-month)').css('background-color', 'rgb(253, 173, 173)')
              }
              else{
                  this.options.clickEvents.dblclick = createNewEvent;
              }
            makeSelectable();
          },
          extras: { blockdays: []
          },
          adjacentDaysChangeMonth: true,
          multiDayEvents: {
              startDate: 'startDate',
              endDate: 'endDate'
            }
        });
        var cal2 = $('#weekCal').clndr({
          template: $('#weekCalTemplate').html(),
          extras: {
            // currentWeek: 0
            currentWeek: Math.floor( ( ( (moment().date() + moment().startOf('month').weekday() ) - 1 ) / ( weeksInMonth(moment() ) * 7) ) * weeksInMonth( moment() ) )
          },
          doneRendering: function() {
            $('#weekCal .nextWeekBtn').click( function() {
              // console.log('next week');
              // clndr.options.extras.currentWeek += 1;
              // clndr.render();

              /* Get numbers of weeks in the month */
              var weeks_in_month = Math.floor(clndr.month.daysInMonth() / 7) - 1;
              if(clndr.options.extras.currentWeek < weeks_in_month) {
                  /* Increase the week count */
                  clndr.options.extras.currentWeek += 1;
              } else {
                  /* Reset the week count */
                  clndr.options.extras.currentWeek = 0;
                  /* Go to next month */
                  clndr.next();
              }
              clndr.render();
            });

            $('#weekCal .previousWeekBtn').click( function() {
              // console.log('previous week');
              // clndr.options.extras.currentWeek -= 1;
              // clndr.render();

              /* Get numbers of weeks in the month */
              var weeks_in_month = Math.floor(clndr.month.daysInMonth() / 7) - 1;
              if(clndr.options.extras.currentWeek > 0) {
                  /* Decrease the week count */
                  clndr.options.extras.currentWeek -= 1;
              } else {
                  /* Reset the week count */
                  clndr.options.extras.currentWeek = weeks_in_month;
                  /* Go to previous month */
                  clndr.back();
              }
              clndr.render();
            });
          }
        });

        function weeksInMonth(month) {
          return Math.floor((month.daysInMonth() + moment(month).startOf('month').weekday()) / 7);
        }
        getEventsFromMonth(cal1.month);
        var weekly = $('#weekly');
        var monthly = $('#monthly');
        var daily = $('#daily');
        weekly.on('click', function(){
            $(this).addClass('active');
            monthly.removeClass('active');
            daily.removeClass('active');
            $('.clndr-monthly').css('display', 'none');
            $('.weekCalContainer').css('display', 'block');
        });
        monthly.on('click', function(){
            $(this).addClass('active');
            weekly.removeClass('active');
            daily.removeClass('active');
            $('.clndr-monthly').css('display', 'block');
            $('.weekCalContainer').css('display', 'none');
        });
        daily.on('click', function(){
            $(this).addClass('active');
            weekly.removeClass('active');
            monthly.removeClass('active')
        });
        $('.weekCalContainer').css('display', 'none');
});


var makeSelectable = function() {
    cal_table = $('.clndr-table').find('tbody');
    cal_table.addClass('selectable');
    $( ".selectable" ).selectable({
        filter: "td",
        distance: 10,
        stop: queryEvents
    });
};


$('.form_datetime').datetimepicker({
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1,
        pickerPosition: 'bottom-right'
    });


function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}


$('#createEvent').on('click', function(e){
    console.log('hahaha');
    var title = $('#event_title').val();
    var des = $('#event_description').val();
    var start_time = moment($('#stime').val()).unix();
    var end_time = moment($('#etime').val()).unix();
    var csrftoken = $.cookie('csrftoken');
    $.ajax('/calendar/createEvent/',$.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        },
        data: {'title':title, 'des':des, 'stime':start_time, 'etime': end_time},
        type: 'POST'
        })).done(function( data ) {
            if ( console && console.log ) {
                var msg = $("#msg");
                msg.css('display', 'none');
                var form = $('.form-group');
                form.removeClass('has-success').removeClass('has-danger');
                var time_form = $('.time_form');
                console.log(data);
                getEventsFromMonth(cal1.month);
                if(data['success']){
                    form.addClass('has-success');
                    msg.addClass('success');
                    $('.modal').modal('hide');
                    form.removeClass('has-success has-feedback');
                }
                else{
                    if(data['reason'] == 2){msg.text(data['msg']);time_form.addClass('has-error');}
                    if(data['reason'] == 1){msg.text(data['msg']);time_form.addClass('has-warning');}
                    msg.css('display', 'block')
                }
            }
          });
});


</script>

<script type="text/template" id="weekCalTemplate" style="display: none;">
      <div class="weekCalHeader">
        <div class="previousWeekBtn controlBtn">previous</div>
        <div class="periodText"><%= days[extras.currentWeek * 7].date.format('YYYY-MM-DD') %> - <%= days[extras.currentWeek * 7 + 6].date.format('YYYY-MM-DD') %></div>
        <div class="nextWeekBtn controlBtn" style="text-align: right">next</div>
      </div>
      <div class="weekCalBody">
        <div class="weekHeaderHolder">
          <% _.each(daysOfTheWeek, function(day) { %>
            <li class="weekHeaders"><%= day %></li>
          <% }); %>
        </div>

        <div class="weekBodyHolder">
          <% for(var i = extras.currentWeek * 7; i < extras.currentWeek * 7 + 7; i++) { %>
            <li class="<%= days[i].classes %>" id="<%= days[i].id %>" style="text-align: left; padding-top: 3px; padding-bottom: 46px; padding-left: 3px;"><%= days[i].day %></li>
          <% } %>
        </div>

      </div>
</script>
</html>