<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% for user in users %}
        <p>{{ user.user }} | {{ user.role }}</p>
    {% endfor %}
</body>
</html>