<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel='stylesheet' href='{% static 'css/bootstrap.css' %}' />
</head>
<body>
    <form action="{% url 'login' %}" method="post">{% csrf_token %}
    {{ login_form }}
    <input type="submit" class="btn" value="login">
    </form>
</body>
</html>